$margin-padding-offset: 20rpx;
$container-offset: 24rpx;

page {

    view {
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
    }

    .container,
    .content-container {
        height: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .hide {
        display: none !important;
    }

    .glb-line {
        width: 598rpx;
        height: 1rpx;
        background: #2f3054;
        opacity: 0.1;
        border-bottom: 1rpx solid #2f3054;
        transform-origin: 0 100%;
        transform: scaleY(0.5);
    }

    .glb-btn-default {
        width: 670rpx;
        height: 94rpx;
        font-size: 36rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: #3c45bf;
        border-radius: 10rpx;
        border: 1px solid #3c45bf;

        &.disabled {
            background: #f5f5f5;
            color: #c8c9cd;
            border: 1px solid #cfced3;
        }
    }

    .btn-group {
        justify-content: space-between;
        margin-top: $margin-padding-offset;
        border: none !important;

        .tab-item {
            font-size: 28rpx;
            height: 56rpx;
            width: 164rpx;
            border-radius: 28rpx;
            text-align: center;
            line-height: 56rpx;
        }

        .tab-active {
            font-family: PingFangSC-Medium;
            font-weight: 800;
            line-height: 56rpx;
        }
    }

    .user-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30rpx;
        font-size: 28rpx;
        width: 100%;

        button {
            height: 40rpx;
            flex: 1;
            background: transparent;
            padding: 0 40rpx;
            color: #000;
            font-size: 28rpx;
            line-height: 40rpx;
            text-align: right;

            &::after {
                border: none;
            }
        }
    }

    .base-menu-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20rpx 30rpx;
        border-bottom: 1rpx solid rgba(238, 238, 238, 0.8);

        .base-menu-label {
            font-size: 30rpx;
            min-width: 120rpx;
        }

        .user-info-icon {
            padding: 0 40rpx;

            image {
                height: 120rpx;
                width: 120rpx;
                border-radius: 10rpx;
            }
        }

        .user-info-icon,
        picker,
        input {
            width: 500rpx;
            text-align: right;
        }

        input {
            padding: 0 40rpx;
            box-sizing: border-box;
            color: #000;
        }

        .base-menu-value {
            flex: 1;
            padding: 0 40rpx;
            color: #000;
        }

        .no-fill-data {
            color: #aaa;
        }
    }

    .base-border-bottom {
        border-bottom: 14rpx solid rgba(241, 241, 241, 0.4);
    }

    .menu-arrow {
        transform: rotate(-90deg);
    }

    .user-level {
        font-size: 26rpx;
        background: #f7b12f;
        border: 1rpx solid #fff;
        border-radius: 28rpx;
        display: inline-block;
        padding: 4rpx 14rpx;
        line-height: 24rpx;
    }

    .author-focus {
        // border: 1rpx solid #ddd;
        padding: 5rpx 0;
        border-radius: 30rpx;
        font-size: 26rpx;
        color: rgb(250, 91, 91);
        background: rgba(250, 91, 91, 0.06);
        min-width: 110rpx;
        text-align: center;
    }

    .author-focused {
        color: rgb(243, 199, 4);
        background: rgba(255, 208, 0, 0.06);
        min-width: 110rpx;
        text-align: center;
    }

    .base-content {
        border-top: 1rpx solid #eee;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30rpx;
        height: 100%;
    }

    .artical-item-operate {
        border-top: 1rpx solid #eee;
        padding-top: 16rpx;
        display: flex;
        align-items: center;
        margin-bottom: 30rpx;

        .artical-operate-icon {
            display: flex;
            align-items: center;
            margin-right: 30rpx;
            font-size: 26rpx;
            color: #bbb;

            view {
                height: 20rpx;
                line-height: 22rpx;
            }
        }

        image {
            height: 40rpx;
            width: 40rpx;
            margin-right: 10rpx;
        }
    }

    .content-detail {
        height: calc(100% - 140rpx);
    }

    .pop-edit {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(65, 65, 65, 0.4);

        .pop-edit-content {
            width: 80%;
            background: #fff;
            border-radius: 10rpx;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30rpx 0;

            .pop-edit-title {
                width: 100%;
                padding: 0 30rpx 30rpx 30rpx;
            }

            .base-menu-label {
                color: #444;
            }

            .base-menu-unit {
                margin-right: 10rpx;
            }

            .pop-edit-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 28rpx;
                color: #aaa;

                image {
                    height: 160rpx;
                    width: 160rpx;
                    border-radius: 50%;
                    margin-bottom: 10rpx;
                }
            }

            .pop-edit-confirm,
            .pop-edit-cancel {
                height: 80rpx;
                width: 400rpx;
                background: #ff85bc;
                color: #fff;
                border-radius: 10rpx;
                font-size: 30rpx;
                text-align: center;
                line-height: 80rpx;
            }

            .pop-edit-confirm {
                margin-top: 30rpx;
            }

            .pop-edit-cancel {
                background: transparent;
                color: #aaa;
            }
        }
    }

    .btn-group {
        margin-top: 0;
        background: #fff;
        box-shadow: 0 0 4rpx 1rpx rgba(173, 171, 171, 0.5);
    }

    .add-log-header {
        text-align: right;
        padding: 20rpx 30rpx 0 30rpx;
        font-size: 26rpx;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20rpx;

        .add-log-btn {
            font-size: 30rpx;
            background: #ff85bc;
            color: #fff;
            padding: 6rpx 20rpx;
            border-radius: 30rpx;
        }
    }

    .common-btn-disabled {
        background: rgba(32, 84, 209, 0.5);
    }
}