.user-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    .user-menu {
        padding-top: 20rpx;
        background: #fff;
    }

    .modify-btn {
        margin-top: 40rpx;
    }
}